.about-section{
  width: 100%;
  padding-top: 80px;
  overflow-x:hidden;
}
.about-section h2{
  padding-top: 20px;
}
.about-img {
  height: 100%;
  margin-left: 30px;
  margin-top: -30px;
}
.history-section {
  width: 100%;
  text-align: left;
  background-color: #008080;
  padding: 50px;
  overflow-x:hidden;
}
.history-section p{
  color: #F7F8F8 !important;
}
.history-section h2{
  padding-top: 50px;
  color: white;
}
.team-section{
  width: 100%;
  overflow-x:hidden;
}
.team-section .col-lg-8{
  padding-top: 100px;
}
