.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear:both;
}
 
.accordion-titulo {
    position: relative;
    display: block;
    text-align: center;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #000;
    text-decoration: none;
}
.accordion-titulo.open {
    background: #fff;
    color: #696969;
}
.accordion-titulo:hover,
.accordion-titulo:active {
    background: #fff;
    color: #696969;
}
.accordion-titulo:focus {
    background: #fff;
    color: #000;
} 
.accordion-titulo span.toggle-icon:before {
    font-family: FontAwesome;
    content:"\f107";
}
 
.accordion-titulo.open span.toggle-icon:before {
    font-family: FontAwesome;
    content:"\f106";
}
 
.accordion-titulo span.toggle-icon {
    position: absolute;
    font-size: 34px;
    font-weight: normal;
}
 
.accordion-content {
    text-align: left;
    display: none;
    padding: 20px;
    overflow: auto;
}
.accordion-content ul li{
    font-weight: bold;
    list-style-type: square;
}
.accordion-content ul li ul li{
    font-weight: normal !important;
    list-style-type: none;
} 
.accordion-content p{
    margin:0;
}
 
.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 50%;
    height: auto;
}
 
 
@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}