.content-section {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}
.content-col {
  padding-top: 50px;
  margin-bottom: -120px;
}
.btn-form {
  text-align: center;
  width: 100%;
}
.mapa-col {
  padding: 20px 60px 0px 60px;
}
.mapa-texto {
  margin-top: -20px;
  padding: 0px;
  color: #677B95 !important;
}
.mingo-logo-inverso {
  width: 50%;
  margin: -30px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 80px;
  }
}
.btn-default {
  border: 1px solid #008080;
  color: #008080;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #008080;
  outline: none;
  color: white;
  background-color: #008080;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
