.login-section {
  background-color: #F7F8F8;
  height: 100%;
  width: 100%;
}

.inner-bg {
    padding: 100px 0 20px 0;
}

.login-cont {
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

.forgot-pw {
  margin-top: 50px;
}

.forgot-pw a{
  color: #C70039 !important;
  font-size: 18px;
}

.forgot-pw a:hover{
  color: #900C3F !important;
}

/***** Media queries *****/

@media (max-width: 767px) {
  
  .inner-bg { padding: 60px 0 110px 0; }

}