.box {
    list-style: none;
    padding: 20px 0 0px;
    position: relative;
    margin-bottom: 0px;
}
.box:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 75px;
    background-color: transparent;
	left: 8%;
    margin-left: -25px;	
}

.box > li {
    margin-bottom: 20px;
    position: relative;
}

.box > li:before,
.box > li:after {
    content: " ";
    display: table;
}

.box > li:after {
    clear: both;
}

.box > li:before,
.box > li:after {
    content: " ";
    display: table;
}

.box > li:after {
    clear: both;
}

.box > li > .box-panel {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 5px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    align-content: left;

}

.box > li > .box-panel:before {
    position: absolute;
    top: 13px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.box > li > .box-panel:after {
    position: absolute;
    top: 5px;
    right: -14px;
    display: inline-block;
    border-top: 18px solid transparent;
    border-left: 17px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 18px solid transparent;
    content: " ";
}

.box > li > .box-badge {
    color: white;
    width: 55px;
    height: 55px;
    line-height: 30px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    top: 0px;
	left: -75px;
    background-color: #0B2C55;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.box > li.box-inverted > .box-panel {
	float: left;
}

.box > li.box-inverted > .box-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.box > li.box-inverted > .box-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
	right: auto;
}

.box-badge.one {
    background-color: #0B2C55 !important;
}

.box-badge.two {
    background-color: #00A5CF !important;
}

.box-badge.three {
    background-color: #9FFFCB !important;
}

.box-badge.four {
    background-color: #7AE582 !important;
}

.box-badge.five {
    background-color: #25A18E !important;
}
.box-badge.six {
    background-color: #0B2C55 !important;
}
.box-badge.seven {
    background-color: #00A5CF !important;
}
.box-badge h2 {
    color: white !important;
}

.box-body {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: inherit;
}
.box-body h4 {
    margin: 5px;
    padding: 0px;
    text-align: center;
}

.box-body > p,
.box-body > ul {
    margin-bottom: 0;
    font-size: 16px !important;
}

.box-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.box:before {
        left: 40px;
    }

    ul.box > li > .box-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.box > li > .box-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.box > li > .box-panel {
        float: right;
    }

        ul.box > li > .box-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.box > li > .box-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}