.timeline2 {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.schedule-section2 .col {
    vertical-align: middle !important;
    align-items: center !important;
}
.img-col {
    padding: 60px;
}
.right-col {
    padding-left: 50px;
    padding-top: 50px;
}
.left-col {
    padding-right: 50px;
    padding-top: 20px;
}

.timeline2:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 75px;
    background-color: transparent;
	left: 8%;
    margin-left: -25px;	
}

.timeline2 > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline2 > li:before,
.timeline2 > li:after {
    content: " ";
    display: table;
}

.timeline2 > li:after {
    clear: both;
}

.timeline2 > li:before,
.timeline2 > li:after {
    content: " ";
    display: table;
}

.timeline2 > li:after {
    clear: both;
}

.timeline2 > li > .timeline2-panel {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 5px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    align-content: left;

}

    .timeline2 > li > .timeline2-panel:before {
        position: absolute;
        top: 13px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline2 > li > .timeline2-panel:after {
        position: absolute;
        top: 14px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

.timeline2 > li > .timeline2-badge {
    color: white;
    width: 55px;
    height: 55px;
    line-height: 30px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    top: 0px;
	left: -75px;
    background-color: #0B2C55;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline2 > li.timeline2-inverted > .timeline2-panel {
	float: left;
}

.timeline2 > li.timeline2-inverted > .timeline2-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline2 > li.timeline2-inverted > .timeline2-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
	right: auto;
}

.timeline2-badge.one {
    background-color: #0B2C55 !important;
}

.timeline2-badge.two {
    background-color: #00A5CF !important;
}

.timeline2-badge.three {
    background-color: #9FFFCB !important;
}

.timeline2-badge.four {
    background-color: #7AE582 !important;
}

.timeline2-badge.five {
    background-color: #25A18E !important;
}
.timeline2-badge.six {
    background-color: #0B2C55 !important;
}
.timeline2-badge.seven {
    background-color: #00A5CF !important;
}
.timeline2-badge h2 {
    color: white !important;
}

.timeline2-body {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: inherit;
}
.timeline2-body h4 {
    margin: 5px;
    padding: 0px;
    text-align: center;
}

.timeline2-body > p,
.timeline2-body > ul {
    margin-bottom: 0;
}

.timeline2-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline2:before {
        left: 40px;
    }

    ul.timeline2 > li > .timeline2-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline2 > li > .timeline2-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline2 > li > .timeline2-panel {
        float: right;
    }

        ul.timeline2 > li > .timeline2-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline2 > li > .timeline2-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}